@charset "utf-8";
// ------------------------------
// [name] BxListY01
// [varsion] v1.0.0
// [path] /hisho/module/_BxListY01.scss
// [desc] text parts 01
// [exsample]
//
//    @include BxListY01();
//
// ------------------------------

//publick mixin
@mixin BxListY01($options:null){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		name     : "BxListY01",
		width    : auto,
		aling    : center,
		marginB  : null,
		bg       : #f7f3ea,
		marginBLi: 10px,
		borderBLi: null
	), $options);

	$_name : str_replace(map-get($_options, name), "Bx", "");

	//-----------------
	// view
	//-----------------

	//BxListY01
	.Bx#{$_name}{
		@include module-core((
			width   : map-get($_options, width),
			aling   : map-get($_options, align),
			marginB : map-get($_options, marginB)
		));
		
		//bxListY01Ul
		.bx#{$_name}Ul{
		}

		//bxListY01Li
		.bx#{$_name}Li{
			@include property-set(border-bottom, map-get($_options, borderBLi));
			@include property-set(margin-bottom, map-get($_options, marginBLi));
		}
	
	}

}
