@charset "utf-8";
// ------------------------------
// [name] BxListX01
// [varsion] v1.0.0
// [path] /hisho/module/_BxListX01.scss
// [desc] text parts 01
// [exsample]
//
//    @include BxListX01();
//
// ------------------------------

//publick mixin
@mixin BxListX01($options:null){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		name     : "BxListX01",
		width    : 600px, //[必須]
		aling    : center,
		marginB  : null,
		colNum   : 5,
		marginRLi: 10px,
		marginBLi: null
	), $options);

	$_name : str_replace(map-get($_options, name), "Bx", "");
	
	$_marginAll : ( map-get($_options, colNum) - 1 ) * map-get($_options, marginRLi);
	$_widthLi : floor((map-get($_options, width) - $_marginAll) / map-get($_options, colNum));
	$_widthUl : ($_widthLi + map-get($_options, marginRLi)) * map-get($_options, colNum);

	//-----------------
	// view
	//-----------------

	//BxListX01
	.Bx#{$_name}{
		@include module-core((
			width   : map-get($_options, width),
			aling   : map-get($_options, align),
			marginB : map-get($_options, marginB)
		));
		overflow: hidden;

		//bxListX01Ul
		.bx#{$_name}Ul{
			@include clearfix;
			width: $_widthUl;
		}

		//bxListX01Li
		.bx#{$_name}Li{
			float:left;
			width: $_widthLi;
			@include property-set(margin-right, map-get($_options, marginRLi));
			@include property-set(margin-bottom, map-get($_options, marginBLi));
		}
	
	}

}
