@charset "utf-8";
// ------------------------------
// [name] BxQuote01
// [varsion] v1.0.0
// [path] /hisho/module/_BxQuote01.scss
// [desc] text parts 01
// [exsample]
//
//    @include BxQuote01();
//
// ------------------------------

//publick mixin
@mixin BxQuote01($options:null){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		name     : "BxQuote01",
		width    : auto,
		aling    : center,
		marginB  : null,
		bg       : #f7f3ea,
		border   : null,
		padding  : 20px 20px 20px 90px,
		colorIcon  : #e1dfd8,
		sizeIcon   : 100px,
		familyIcon : serif,
		topIcon    : 20px,
		leftIcon   : 20px
	), $options);

	$_name : str_replace(map-get($_options, name), "Bx", "");

	//-----------------
	// view
	//-----------------

	//BxQuote01
	.Bx#{$_name}{
		@include module-core((
			width   : map-get($_options, width),
			aling   : map-get($_options, align),
			marginB : map-get($_options, marginB)
		));

		position: relative;
		@include property-set(background, map-get($_options, bg));
		@include property-set(border, map-get($_options, border));
		@include property-set(padding, map-get($_options, padding));

		&:before{
			content: '“';
			position: absolute;
			@include property-set(top, map-get($_options, topIcon));
			@include property-set(left, map-get($_options, leftIcon));
			@include property-set(color, map-get($_options, colorIcon));
			@include property-set(font-family, map-get($_options, familyIcon));
			@include property-set(font-size, map-get($_options, sizeIcon));
			line-height: 1;
		}
	
	}

}
