@charset "utf-8";
// ------------------------------
// [name] PtAd01
// [varsion] v1.0.0
// [path] /hisho/module/_PtAd01.scss
// [desc] text parts 01
// [exsample]
//
//    @include PtAd01();
//
//    @include PtAd01((
//      style: (
//          contentWidth: 1050px
//      )
//    ));
// ------------------------------

//publick mixin
@mixin PtAd01($options:null){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		width       : auto,
		colorTitle  : #333,
		colorLink   : #7c94aa,
		colorTxt    : #ccc,
		colorAbout  : #333,
		itemMarginBottom : 30px,
		marginBottom: map-get($styleSetting, moduleBottomMargin)
	), $options);

	//-----------------
	// view
	//-----------------
	.PtAd01{
		@if map-get($_options, width) == auto{
			width: map-get($_options, width);
			margin-left: auto;
			margin-right: auto;
		}
		margin-bottom: map-get($_options, marginBottom);
		overflow: hidden;
		//
		.ptAd01Ul{
			margin-top: map-get($_options, itemMarginBottom) * -1;
		}
		.ptAd01Li{
			margin-top: map-get($_options, itemMarginBottom);
		}
		.ptAd01LiA{
			cursor: pointer;
			display: block;
			text-decoration: none;
			//
			&:hover .ptAd01Ttl{
				text-decoration: none;
			}
		}
		.ptAd01Ttl{
			color: map-get($_options, colorTitle);
			font-size:20px;
			text-decoration: underline;
		}
		.ptAd01Link{
			color: map-get($_options, colorLink);
			font-size:11px;
			margin-top: 1px;
			text-decoration: none;
		}
		.ptAd01Txt{
			color: map-get($_options, colorTxt);
			font-size:12px;
			margin-top: 5px;
			text-decoration: none;
		}
		.ptAd01About{
			margin-top:15px;
			text-align:right;
			color: map-get($_options, colorAbout);
		}
		.ptAd01AboutA{
			cursor: pointer;
			
			@include link-styles((
				linkColor        : #333,
				linkColorVisited : #333,
				linkColorHover   : #333,
				linkUnderline        : true,
				linkUnderlineVisited : true,
				linkUnderlineHover   : false
			));
		}
	}

}
