@charset "utf-8";
// ------------------------------
// [name] PtAdTxt01
// [varsion] v1.0.0
// [path] /hisho/module/_PtAdTxt01.scss
// [desc] adsense風UIパーツ
// [exsample]
//
//    @include PtAdTxt01();
//
//    @include PtAdTxt01((
//      name:       : "PtAdTxt01",
//      width       : auto,
//      center      : center
//    ));
// ------------------------------

//publick mixin
@mixin PtAdTxt01($options:null){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		name      : "PtAdTxt01",  //class名の変更が可能(接頭辞のPtは強制的に付与される)
		width      : auto,         //moduleのwidth指定
		aling      : center,       //moduleのセンタリング位置を指定
		marginB    : null,         //moduleの下部margin指定 （defaultは$styleSettingで指定した値）
		colorTtl   : #333,         //ttl color
		colorUrl   : #7c94aa,      //url color
		colorTxt   : #ccc,         //txt color
		sizeTtl    : 20px,         //ttl font-size
		sizeUrl    : 11px,         //url font-size
		sizeTxt    : 12px,          //txt font-size
		hoverBg    : #f8f8f8       //a:hover時の背景色設定
	), $options);

	$_name : replace("Pt", "", map-get($_options, name));

	//-----------------
	// view
	//-----------------

	//PtAdTxt01
	.Pt#{$_name}{
		@include module-core((
			width   : map-get($_options, width),
			aling   : map-get($_options, align),
			marginB : map-get($_options, marginB)
		));
		overflow: hidden;
		
		//ptAdTxt01A
		.pt#{$_name}A{
			cursor: pointer;
			display: block;
			text-decoration: none;
			//
			&:hover .pt#{$_name}Ttl{
				text-decoration: none;
				@if map-get($_options, hoverBg) {
					background: map-get($_options, hoverBg)
				}
			}
		}
		//ptAdTxt01Ttl
		.pt#{$_name}Ttl{
			color: map-get($_options, colorTtl);
			font-size: map-get($_options, sizeTtl);
			text-decoration: underline;
		}
		//ptAdTxt01Url
		.pt#{$_name}Url{
			color: map-get($_options, colorUrl);
			font-size: map-get($_options, sizeUrl);
			margin-top: 1px;
			text-decoration: none;
		}
		//ptAdTxt01Txt
		.pt#{$_name}Txt{
			color: map-get($_options, colorTxt);
			font-size: map-get($_options, sizeTxt);
			margin-top: 5px;
			text-decoration: none;
		}
	}

}
