@charset "utf-8";
// ------------------------------
// [name] PtDefList01
// [varsion] v1.0.0
// [path] /hisho/module/_PtDefList01.scss
// [desc] text parts 01
// [exsample]
//
//    @include PtDefList01();
//
//    @include PtDefList01((
//      style: (
//          itemMarginBottom: 10px
//      )
//    ));
// ------------------------------

//publick mixin
@mixin PtDefList01($options:null){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		name      : "PtDefList01",  //class名の変更が可能(接頭辞のPtは強制的に付与される)
		width      : auto,         //moduleのwidth指定
		aling      : center,       //moduleのセンタリング位置を指定
		marginB    : null,         //moduleの下部margin指定 （defaultは$styleSettingで指定した値）
		colorDt: null,
		marginBItem: 8px,
		marginLDd: 1em
	), $options);

	$_name : str_replace(map-get($_options, name), "Pt", "");
	$_marginBDt : if(map-get($_options, marginBItem), ciel(map-get($_options, marginBItem) / 2) ,null);

	//-----------------
	// view
	//-----------------

	//PtDefList01
	.Pt#{$_name}{
		@include module-core((
			width   : map-get($_options, width),
			aling   : map-get($_options, align),
			marginB : map-get($_options, marginB)
		));
		
		//ptDefList01Dt
		.pt#{$_name}Dt{
			margin-bottom: $_marginBDt
		}
		//ptDefList01Dd
		.pt#{$_name}Dd{
			margin-left: map-get($_options, marginLDd)
			margin-bottom: map-get($_options, marginBItem)
		}
	}

}
