@charset "utf-8";
// ------------------------------
// [name] PtPtImage02
// [varsion] v1.0.0
// [path] /hisho/module/_PtImage01.scss
// [desc] text parts 01
// [exsample]
//
//    @include PtImage02();
//
//    @include PtImage02((
//      style: (
//          contentWidth: 1050px
//      )
//    ));
// ------------------------------

//publick mixin
@mixin PtImage02($options:null){
	$_options : null;

	//-----------------
	// options
	//-----------------
	$_OPTIONS : (
		maxWidth: auto,
		align: left,
		borderColor: null,
		marginBottom: map-get($styleSetting, moduleBottomMargin)
	);
	$_options:　map-extend($_OPTIONS, $options);

	//-----------------
	// view
	//-----------------
	.PtImage02{
		@include inline-block;
		text-aling: map-get($_options, align);
		margin-bottom: map-get($_options, marginBottom);
		position:relative;
		//
		.ptImage02A{
			display:block;
		}
		.ptImage02Img{
			z-index: 1;
			max-width: map-get($_options, maxWidth);
			@if map-get($_options, borderColor){
				border:solid 1px map-get($_options, borderColor);
			}
		}
		.ptImage02Cnt{
			z-index: 2;
			position:absolute;
			bottom:0;
			left:0;
			width:100%;
			background:#000;
		}
		.ptImage02Cap{
			padding:5px;
			font-size: 10px;
			margin-top:8px;
			text-align:left;
		}
	}

}
