@charset "utf-8";
// ------------------------------
// [name] PtList01
// [varsion] v1.0.0
// [path] /hisho/module/_PtList01.scss
// [desc] text parts 01
// [exsample]
//
//    @include PtList01();
//
//    @include PtList01((
//      style: (
//          itemMarginBottom: 10px
//      )
//    ));
// ------------------------------

//publick mixin
@mixin PtList01($options:null){
	$_options : null;
	$_marginBottom: null;

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		name       : "PtList01",  //class名の変更が可能(接頭辞のPtは強制的に付与される)
		width      : auto,        //moduleのwidth指定
		aling      : center,      //moduleのセンタリング位置を指定
		marginB    : null,        //moduleの下部margin指定 （defaultは$styleSettingで指定した値）
		color      : null,
		widthIcon  : map-get($styleSetting, fontSize),
		marginRIcon : 5px,
		topIcon     : 0,
		marginBLi   : 8px
	), $options);

	$_name : replace("Pt", "", map-get($_options, name));
	$_paddingLLi: map-get($_options, widthIcon) + map-get($_options, marginRIcon);

	//-----------------
	// view
	//-----------------

	//PtList01
	.Pt#{$_name}{
		@include module-core((
			width   : map-get($_options, width),
			aling   : map-get($_options, align),
			marginB : map-get($_options, marginB)
		));
		@include property-set(color, map-get($_options, color));

		
		//ptList01Li
		.pt#{$_name}Li{
			position: relative;
			@include property-set(margin-bottom, map-get($_options, marginBLi));
			@include property-set(padding-left, $_paddingLLi);
		}

		//ptList01Icon
		.pt#{$_name}Icon{
			position: absolute;
			left: 0;
			@include property-set(top, map-get($_options, topIcon));
			@include sprite-core();
		}
	}

}
