@charset "utf-8";
// ------------------------------
// [name] PtMoreBtn01
// [varsion] v1.0.0
// [path] /hisho/module/_PtTxt01.scss
// [desc] text parts 01
// [exsample]
//
//    @include PtTxt01();
// ------------------------------

//publick mixin
@mixin PtMoreBtn01($options:null){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		name   : "PtMoreBtn01",  //class名の変更が可能(接頭辞のPtは強制的に付与される)
		width  : auto,        //moduleのwidth指定
		aling  : center,      //moduleのセンタリング位置を指定
		margin : null,        //moduleのmargin指定(nullの場合default設定が適応される)
		font   : (size: 14px),
		background : null,
		border : (
			all: 1px solid #ccc,
			radiuse: 3px
		),
		padding : 15px,
		linkStyle : (
			linkColor        : #333,
			linkColorVisited : #333,
			linkColorHover   : #666,
			linkColorActive  : #666,
			linkColorFocus   : #666,
			linkUnderline    : false,
			linkUnderlineVisited : false,
			linkUnderlineHover   : false,
			linkUnderActive      : false,
			linkUnderFocus       : false
		),
		//hover
		hoverBackground: null,
		hoverBorder: null
	), $options);

	$_name : str_replace(map-get($_options, name), "Pt", "");
	//-----------------
	// view
	//-----------------

	//PtMore01
	.Pt#{$_name}{
		//moduleのwidth&margin設定
		@include module-core($_options);

		background: map-get($_options, background);
		@include propaty-set("border", map-get($_options, border));
		@include propaty-set("font", map-get($_options, font));
		text-align: center;
		line-height: 1;

		//@if map-get($_options, gardient){
			@include background-image(linear-gradient(white, #fefefe, #eee));
		//}

		//hover
		&:hover,
		&:active{
			background: map-get($_options, background);
			@include propaty-set("border", map-get($_options, border));
		}

		//ptMore01A
		.pt#{$_name}A{
			display:block;
			@include propaty-set("padding", map-get($_options, padding));
			//linkStyle
			@if map-get($_options, linkStyle){
				@include link-styles(map-get($_options, linkStyle));
			}
		}

	}


}
