@charset "utf-8";
// ------------------------------
// [name] PtTxt01
// [varsion] v1.0.0
// [path] /hisho/module/_PtTxt01.scss
// [desc] text parts 01
// [exsample]
//
//    @include PtTxt01();
//
//    @include PtTxt01((
//      style: (
//          contentWidth: 1050px
//      )
//    ));
// ------------------------------

//publick mixin
@mixin PtTxt01($options:null){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		name     : "PtTxt01",
		width    : auto,
		aling    : center,
		marginB  : null,
		medium   : map-get($styleSetting, fontSize),
		large    : null,
		x-large  : null,
		xx-large : null,
		small    : null,
		x-small  : null,
		xx-small : null,
		style    : $styleSetting
	), $options);

	$_fontSize: null;
	$_style: map-get($_options, style);
	$_name : replace(map-get($_options, name), "Pt" , "");

	//-----------------
	// view
	//-----------------

	//PtTxt01
	.Pt#{$_name}{
		@include module-core((
			width   : map-get($_options, width),
			aling   : map-get($_options, align),
			marginB : map-get($_options, marginB)
		));
		@include property-set(font-size, map-get($_options, medium));


		@if map-get($_style, lineHeight) != map-get($styleSetting, lineHeight) {
			line-height: map-get($_style, lineHeight);
		}
		@if map-get($_style, fontFamily) != map-get($styleSetting, fontFamily) {
			font-family: map-get($_style, fontFamily);
		}
		@if map-get($_style, fontColor01) != map-get($styleSetting, fontColor01) {
			color: map-get($_style, fontColor01);
		}

		//medium
		$_fontSize: map-get($_options, medium);
		&.medium{
			font-size: $_fontSize;
		}

		//small
		$_fontSize: map-get($_style, fontSize);
		$_fontSize: floor($_fontSize / 1.2);
		&.small{
			font-size: if(map-get($_options, small), map-get($_options, small), $_fontSize);
		}

		//x-small
		$_fontSize: floor($_fontSize / 1.2);
		&.x-small{
			font-size: if(map-get($_options, x-small), map-get($_options, x-small), $_fontSize);
		}

		//xx-small
		$_fontSize: floor($_fontSize / 1.2);
		&.xx-small{
			font-size: if(map-get($_options, xx-small), map-get($_options, xx-small), $_fontSize);
		}

		//large
		$_fontSize: map-get($_style, fontSize);
		$_fontSize: round($_fontSize * 1.2);
		&.large{
			font-size: if(map-get($_options, large), map-get($_options, large), $_fontSize);
		}

		//x-large
		$_fontSize: round($_fontSize * 1.2);
		&.x-large{
			font-size: if(map-get($_options, x-large), map-get($_options, x-large), $_fontSize);
		}

		//xx-large
		$_fontSize: round($_fontSize * 1.2);
		&.xx-large{
			font-size: if(map-get($_options, xx-large), map-get($_options, xx-large), $_fontSize);
		}

	}

}
