@charset "utf-8";
// ------------------------------
// [name] PtTxt01
// [varsion] v1.0.0
// [path] /hisho/module/_PtTxt01.scss
// [desc] text parts 01
// [exsample]
//
//    @include PtTxt01();
//
//    @include PtTxt01((
//      style: (
//          contentWidth: 1050px
//      )
//    ));
// ------------------------------

//publick mixin
@mixin PtTxt01($options:null){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		name   : "PtTxt01",  //class名の変更が可能(接頭辞のPtは強制的に付与される)
		width  : auto,       //moduleのwidth指定
		aling  : center,     //moduleのセンタリング位置を指定
		margin : null,       //moduleのmargin指定(nullの場合default設定が適応される)
		font   : (size: map-get($styleSetting, fontSize)),
		color  : null,
		lineHeight : null,
		fontCloud  : map-get($styleSetting, fontSize)
	), $options);

	$_name : str_replace(map-get($_options, name), "Pt", "");

	//-----------------
	// view
	//-----------------

	//PtTxt01
	.Pt#{$_name}{
		//moduleのwidth&margin設定
		@include module-core($_options);
		@include propaty-set("font", map-get($_options, font));
		color: map-get($_options, color);
		line-height: map-get($styleSetting, lineHeight);
		//各種size生成
		@include font-cloud(map-get($_options, fontCloud));
	}

}
