@charset "utf-8";
// ------------------------------
// [name] PtTitleSimple01
// [varsion] v1.0.0
// [path] /hisho/module/_PtTitleSimple01.scss
// [desc] text parts 01
// [exsample]
//
//    @include PtTitleSimple01();
//
// ------------------------------

//publick mixin
@mixin PtTitleSimple01($options:null){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		name     : "PtTitleSimple01",
		width    : auto,
		aling    : center,
		marginB  : null,
		color    : #CEBB6E,
		family   : null,
		weight   : bold,
		lineHeight : null,
		medium   : 30px,
		large    : null,
		x-large  : null,
		xx-large : null,
		small    : null,
		x-small  : null,
		xx-small : null
	), $options);

	$_fontSize: null;
	$_name : str_replace(map-get($_options, name), "Pt", "");

	//-----------------
	// view
	//-----------------

	//PtTitleSimple01
	.Pt#{$_name}{
		@include module-core((
			width   : map-get($_options, width),
			aling   : map-get($_options, align),
			marginB : map-get($_options, marginB)
		));

		font-size: map-get($_options, medium);
		
		@include property-set(line-height, map-get($_options, lineHeight));
		@include property-set(font-weight, map-get($_options, weight));
		@include property-set(font-family, map-get($_options, family));
		@include property-set(color, map-get($_options, color));

		//medium
		$_fontSize: map-get($_options, medium);
		&.medium{
			font-size: $_fontSize;
		}

		//small
		$_fontSize: map-get($_options, medium);
		$_fontSize: floor($_fontSize / 1.2);
		&.small{
			font-size: if(map-get($_options, small), map-get($_options, small), $_fontSize);
		}

		//x-small
		$_fontSize: floor($_fontSize / 1.2);
		&.x-small{
			font-size: if(map-get($_options, x-small), map-get($_options, x-small), $_fontSize);
		}

		//xx-small
		$_fontSize: floor($_fontSize / 1.2);
		&.xx-small{
			font-size: if(map-get($_options, xx-small), map-get($_options, xx-small), $_fontSize);
		}

		//large
		$_fontSize: map-get($_options, medium);
		$_fontSize: round($_fontSize * 1.2);
		&.large{
			font-size: if(map-get($_options, large), map-get($_options, large), $_fontSize);
		}

		//x-large
		$_fontSize: round($_fontSize * 1.2);
		&.x-large{
			font-size: if(map-get($_options, x-large), map-get($_options, x-large), $_fontSize);
		}

		//xx-large
		$_fontSize: round($_fontSize * 1.2);
		&.xx-large{
			font-size: if(map-get($_options, xx-large), map-get($_options, xx-large), $_fontSize);
		}

	}

}
