@charset "utf-8";
// ------------------------------
// [name] PtTitle01
// [varsion] v1.0.0
// [path] /hisho/module/_PtTitle01.scss
// [desc] text parts 01
// [exsample]
//
//    @include PtTitle01();
//
// ------------------------------

//publick mixin
@mixin PtTitle01($options:null){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		name   : "PtTitle01",  //class名の変更が可能(接頭辞のPtは強制的に付与される)
		width  : auto,        //moduleのwidth指定
		aling  : center,      //moduleのセンタリング位置を指定
		margin : null,        //moduleのmargin指定(nullの場合default設定が適応される)
		padding : 10px,
		background : #fefefe,
		border : (
			all: solid 1px #ccc,
			radius: 2px
		),
		//ttl
		ttlFont: (
			size: 18px,
			weight: bold
		),
		ttlLineHeight: null,
		ttlColor: #CEBB6E,
		fontCloud : null,
		//ttlIcon
		ttlIconMargin : (right: 5px),
		ttlIconTop : 0,
		//txt
		txtMargin : (top: 5px),
		txtFont   : null,
		txtLineHeight: null,
		txtColor: #ccc,
		//link
		linkTop : 10px,
		linkRight : 10px,
		//linkIcon
		linkIconMargin : (right: 5px),
		linkIconTop : 0
	), $options);

	$_name : str_replace(map-get($_options, name), "Pt", "");
	$_fontCloud : if(map-get($_options, fontCloud), map-get($_options, fontCloud), map-get( map-get($_options, ttlFont), size));


	//-----------------
	// view
	//-----------------

	//PtTitle01
	.Pt#{$_name}{
		//moduleのwidth&margin設定
		@include module-core($_options);
		position: relative;
		background: map-get($_options, background);
		@include propaty-set("border", map-get($_options, border));
		@include propaty-set("padding", map-get($_options, padding));

		//ptTitle01Inner
		.pt#{$_name}Inner{
			display: block;
			padding: 10px;
			border-left: solid 20px #333;
			background: #fefefe;
		}

		//ptTitle01Ttl
		.pt#{$_name}Ttl{
			@include propaty-set("font", map-get($_options, ttlFont));
			line-height: map-get($_options, ttLlineHeight);
			color: map-get($_options, ttlColor);
			//各種size生成
			@include font-cloud($_fontCloud);
		}

		//ptTitle01TtlIcon
		.pt#{$_name}TtlIcon{
			position:relative;
			top: map-get($_options, ttlIconTop);
			@include sprite-core();
			@include propaty-set("margin", map-get($_options, ttlIconMargin));
		}

		//ptTitle01Txt
		.pt#{$_name}Txt{
			@include propaty-set("margin", map-get($_options, txtMargin));
			@include propaty-set("font", map-get($_options, txtFont));
			line-height: map-get($_options, txtLineHeight);
			color: map-get($_options, txtColor);
		}

		//ptTitle01Link
		.pt#{$_name}Link{
			position: absolute;
			top: map-get($_options, linkTop);
			right: map-get($_options, linkRight);
			line-height: 1;
		}

		//ptTitle01LinkA
		.pt#{$_name}LinkA{
		}

		//ptTitle01LinkIcon
		.pt#{$_name}LinkIcon{
			position:relative;
			top: map-get($_options, linkIconTop);
			@include sprite-core();
			@include propaty-set("margin", map-get($_options, linkIconMargin));
		}


	}

}
