@charset "UTF-8";
/* line 9, ../../sass/hisho/helper/_reset.scss */
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, th, td, div, blockquote, pre, form, fieldset, input, textarea {
  margin: 0;
  padding: 0;
}

/* line 13, ../../sass/hisho/helper/_reset.scss */
html {
  overflow-y: scroll;
}

/* line 16, ../../sass/hisho/helper/_reset.scss */
body {
  *position: relative;
  font-size: 62.5%;
}

/* line 20, ../../sass/hisho/helper/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 24, ../../sass/hisho/helper/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 27, ../../sass/hisho/helper/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 31, ../../sass/hisho/helper/_reset.scss */
img, fieldset, table, th, td {
  border: none;
}

/* line 34, ../../sass/hisho/helper/_reset.scss */
input {
  *margin: -1px 0;
}

/* line 37, ../../sass/hisho/helper/_reset.scss */
input, textarea {
  font-size: 1.0em;
}

/* line 40, ../../sass/hisho/helper/_reset.scss */
em, cite {
  font-style: normal;
}

/* line 43, ../../sass/hisho/helper/_reset.scss */
small {
  font-size: 100%;
}

/* line 46, ../../sass/hisho/helper/_reset.scss */
img {
  vertical-align: text-bottom;
}

/* line 49, ../../sass/hisho/helper/_reset.scss */
a img {
  vertical-align: top;
}

/* line 52, ../../sass/hisho/helper/_reset.scss */
:focus {
  outline: none;
}

/* line 55, ../../sass/hisho/helper/_reset.scss */
input, button, textarea {
  border: 0;
}

/* line 58, ../../sass/hisho/helper/_reset.scss */
input[type="text"], textarea {
  -webkit-appearance: none;
}

/* line 61, ../../sass/hisho/helper/_reset.scss */
textarea {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: arial,sans-serif;
}

/* line 66, ../../sass/hisho/helper/_reset.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 69, ../../sass/hisho/helper/_reset.scss */
hr {
  display: none;
}

/* line 74, ../../sass/hisho/helper/_reset.scss */
body.OsWin textarea {
  font-family: "'メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif";
}

/* line 79, ../../sass/hisho/helper/_reset.scss */
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, table, th, td, div, blockquote, pre, form, fieldset, legend {
  *zoom: 1;
}

/* line 84, ../../sass/hisho/helper/_reset.scss */
article, aside, canvas, details, figcaption, figure, header, footer, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 102, ../../sass/_sample/module_mainArea.scss */
body {
  font-size: 12px;
  font-family: 'Lucida Grande','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  line-height: 1.5;
  color: #333333;
}

/* line 108, ../../sass/_sample/module_mainArea.scss */
.OsWin {
  font-family: 'メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

/* line 111, ../../sass/_sample/module_mainArea.scss */
.OsMac {
  font-family: 'Lucida Grande','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',sans-serif;
}

/* line 114, ../../sass/_sample/module_mainArea.scss */
a {
  color: #2468ce;
  text-decoration: underline;
}
/* line 57, ../../sass/hisho/helper/mixin/_link-styles.scss */
a:link {
  color: #2468ce;
  text-decoration: underline;
}
/* line 64, ../../sass/hisho/helper/mixin/_link-styles.scss */
a:visited {
  color: #a611a1;
  text-decoration: underline;
}
/* line 71, ../../sass/hisho/helper/mixin/_link-styles.scss */
a:hover {
  text-decoration: none;
}
/* line 78, ../../sass/hisho/helper/mixin/_link-styles.scss */
a:active {
  text-decoration: none;
}
/* line 85, ../../sass/hisho/helper/mixin/_link-styles.scss */
a:focus {
  text-decoration: none;
}

/* line 73, ../../sass/hisho/layout/col1/_default.scss */
.LyBody01 {
  position: relative;
}

/* line 87, ../../sass/hisho/layout/col1/_default.scss */
.LyCnt01 {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  width: 600px;
  margin: 0 auto;
}

/* line 94, ../../sass/hisho/layout/col1/_default.scss */
.LyMain01 {
  width: 600px;
  margin: 0 0;
}

/* line 10, ../../sass/hisho/helper/_util.scss */
.UtHide {
  display: none;
}

/* line 13, ../../sass/hisho/helper/_util.scss */
.UtAlignCenter {
  text-align: center !important;
}

/* line 14, ../../sass/hisho/helper/_util.scss */
.UtAlignRight {
  text-align: right !important;
}

/* line 15, ../../sass/hisho/helper/_util.scss */
.UtAlignLeft {
  text-align: left !important;
}

/* line 16, ../../sass/hisho/helper/_util.scss */
.UtAlignMiddle {
  vertical-align: middle !important;
}

/* line 17, ../../sass/hisho/helper/_util.scss */
.UtAlignTop {
  vertical-align: top !important;
}

/* line 18, ../../sass/hisho/helper/_util.scss */
.UtAlignBottom {
  vertical-align: bottom !important;
}

/* line 21, ../../sass/hisho/helper/_util.scss */
.UtElement {
  margin-bottom: 20px;
}

/* line 26, ../../sass/hisho/helper/_util.scss */
.UtSpriteImg {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  border: none;
  width: 0;
  height: 0;
  vertical-align: top;
  white-space: nowrap;
  text-indent: 100%;
}

/* line 31, ../../sass/hisho/helper/_util.scss */
.UtSpriteBnt {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  border: none;
  width: 0;
  height: 0;
  vertical-align: top;
  white-space: nowrap;
  text-indent: 100%;
  cursor: "pointer";
  opacity: 0.8;
}

/* line 48, ../../sass/hisho/module/_PtTxt01.scss */
.Pt {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 12px;
}
/* line 69, ../../sass/hisho/module/_PtTxt01.scss */
.Pt.medium {
  font-size: 12px;
}
/* line 76, ../../sass/hisho/module/_PtTxt01.scss */
.Pt.small {
  font-size: 10px;
}
/* line 82, ../../sass/hisho/module/_PtTxt01.scss */
.Pt.x-small {
  font-size: 8px;
}
/* line 88, ../../sass/hisho/module/_PtTxt01.scss */
.Pt.xx-small {
  font-size: 6px;
}
/* line 95, ../../sass/hisho/module/_PtTxt01.scss */
.Pt.large {
  font-size: 14px;
}
/* line 101, ../../sass/hisho/module/_PtTxt01.scss */
.Pt.x-large {
  font-size: 17px;
}
/* line 107, ../../sass/hisho/module/_PtTxt01.scss */
.Pt.xx-large {
  font-size: 20px;
}

/* line 43, ../../sass/hisho/module/_PtList01.scss */
.PtList01 {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/* line 54, ../../sass/hisho/module/_PtList01.scss */
.PtList01 .ptList01Li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 17px;
}
/* line 59, ../../sass/hisho/module/_PtList01.scss */
.PtList01 .ptList01Icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  border: none;
  width: 0;
  height: 0;
  vertical-align: top;
  white-space: nowrap;
  text-indent: 100%;
}

/* line 40, ../../sass/hisho/module/_PtNumList01.scss */
.PtNumList01 {
  margin-bottom: 20px;
}
/* line 51, ../../sass/hisho/module/_PtNumList01.scss */
.PtNumList01 .PtNumList01Li {
  margin: 0 0 8px 20px;
  list-style: decimal;
}

/* line 40, ../../sass/hisho/module/_PtDefList01.scss */
.PtDefList01 {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/* line 48, ../../sass/hisho/module/_PtDefList01.scss */
.PtDefList01 .ptDefList01Dt {
  margin-bottom: ciel(8px/2);
}
/* line 51, ../../sass/hisho/module/_PtDefList01.scss */
.PtDefList01 .ptDefList01Dd {
  margin-left: 1em;
  margin-bottom: 8px;
}

/* line 37, ../../sass/hisho/module/_PtTbl01.scss */
.PtTbl01 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/* line 53, ../../sass/hisho/module/_PtTbl01.scss */
.PtTbl01 th,
.PtTbl01 td {
  border: 1px solid #cccccc;
  padding: 4px 8px;
}
/* line 63, ../../sass/hisho/module/_PtTbl01.scss */
.PtTbl01 th {
  background-color: #ececec;
  font-weight: normal;
}

/* line 45, ../../sass/hisho/module/_PtAdTxt01.scss */
.Pt01 {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 54, ../../sass/hisho/module/_PtAdTxt01.scss */
.Pt01 .ptA {
  cursor: pointer;
  display: block;
  text-decoration: none;
}
/* line 59, ../../sass/hisho/module/_PtAdTxt01.scss */
.Pt01 .ptA:hover .ptTtl {
  text-decoration: none;
  background: #f8f8f8;
}
/* line 67, ../../sass/hisho/module/_PtAdTxt01.scss */
.Pt01 .ptTtl {
  color: #333333;
  font-size: 20px;
  text-decoration: underline;
}
/* line 73, ../../sass/hisho/module/_PtAdTxt01.scss */
.Pt01 .ptUrl {
  color: #7c94aa;
  font-size: 11px;
  margin-top: 1px;
  text-decoration: none;
}
/* line 80, ../../sass/hisho/module/_PtAdTxt01.scss */
.Pt01 .ptTxt {
  color: #cccccc;
  font-size: 12px;
  margin-top: 5px;
  text-decoration: none;
}
