/*
Syntax error: Invalid CSS after "			font-weight": expected ";", was ": map-get($_opt..."
        on line 69 of C:/xampp/htdocs/_tasc/99_atest_dev/hisho/sass/hisho/module/_PtTitle01.scss
        from line 160 of C:/xampp/htdocs/_tasc/99_atest_dev/hisho/sass/_sample/module_mainArea.scss

Backtrace:
C:/xampp/htdocs/_tasc/99_atest_dev/hisho/sass/hisho/module/_PtTitle01.scss:69
C:/xampp/htdocs/_tasc/99_atest_dev/hisho/sass/_sample/module_mainArea.scss:160
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:1306:in `expected'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:1242:in `expected'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:1237:in `tok!'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:687:in `block in declaration_or_ruleset'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:1282:in `call'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:1282:in `rethrow'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:655:in `block_child'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:647:in `block_contents'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:636:in `block'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:629:in `ruleset'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:692:in `block in declaration_or_ruleset'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:1282:in `call'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:1282:in `rethrow'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:655:in `block_child'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:647:in `block_contents'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:636:in `block'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:629:in `ruleset'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:692:in `block in declaration_or_ruleset'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:1282:in `call'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:1282:in `rethrow'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:655:in `block_child'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:647:in `block_contents'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:636:in `block'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:229:in `mixin_directive'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:217:in `special_directive'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:189:in `directive'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:654:in `block_child'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:647:in `block_contents'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/scss/parser.rb:42:in `parse'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/engine.rb:402:in `_to_tree'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/engine.rb:306:in `to_tree'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:294:in `block in visit_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:88:in `with_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:293:in `visit_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `with_base'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:161:in `visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:181:in `visit_root'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/engine.rb:275:in `render'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:153:in `timed'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:166:in `block in compile'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/logger.rb:46:in `red'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:165:in `compile'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:144:in `compile_if_required'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:129:in `block (2 levels) in run'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:127:in `each'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:127:in `block in run'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:153:in `timed'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:126:in `run'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/compiler.rb:24:in `compile'
C:/Ruby200-x64/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:95:in `sass_modified'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:83:in `sass_callback'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/watch.rb:14:in `call'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/watch.rb:14:in `run_callback'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:63:in `block in listen_callback'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:60:in `each'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:60:in `listen_callback'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"			font-weight\": expected \";\", was \": map-get($_opt...\"\A         on line 69 of C:/xampp/htdocs/_tasc/99_atest_dev/hisho/sass/hisho/module/_PtTitle01.scss\A         from line 160 of C:/xampp/htdocs/_tasc/99_atest_dev/hisho/sass/_sample/module_mainArea.scss"; }
