@charset "utf-8";

// ===============================================
//
// Hisho alpha var0.1.1
//
// update:2013/12/04
//
// 1.page setting
// 2.import files
// 3.base style setting
// 4.sprite image setting
// 5.Select Layout
// 6.Select Header
// 7.Select Footer
// 8.Module Setting
// 9.overlide
// ===============================================


//--------------------------------
// 1.page setting
//--------------------------------

//imgPass
$imgPath : "../img";

//common image
@import "hisho/setting/alphaImg";

//style setting
$styleSetting: (
	contentWidth : 1010px,
	moduleBottomMargin : 20px,
	
	fontSize         : 12px,
	fontFamily       : "'Lucida Grande','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif",
	fontFamilyWin    : "'メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif",
	fontFamilyMac    : "'Lucida Grande','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',sans-serif",
	lineHeight       : 1.5,

	fontColor01        : #333,
	fontColor01Strong  : #c00,
	fontColor02        : #333,
	fontColor02Strong  : #c00,
	fontColor03        : #333,
	fontColor03Strong  : #c00,

	linkColor        : #2468ce,
	linkColorVisited : #a611a1,
	linkColorHover   : null,
	linkColorActive  : null,
	linkColorFocus   : null,
	linkUnderline        : true,
	linkUnderlineVisited : true,
	linkUnderlineHover   : false,
	linkUnderActive      : false,
	linkUnderFocus       : false,

	bgColor01     : #333,
	bgColor01Sub1 : #333,
	bgColor01Sub2 : #333,
	bgImg01       : url(#{$imgPath}),
	bgAlpha01     : $alphaImg-black,

	bgColor02     : #333,
	bgColor02Sub1 : #333,
	bgColor02Sub2 : #333,
	bgImg02       : url(#{$imgPath}),
	bgAlpha02     : $alphaImg-white,

	bgColor03     : #333,
	bgColor03Sub1 : #333,
	bgColor03Sub2 : #333,
	bgImg03       : url(#{$imgPath}),
	bgAlpha03     : $alphaImg-pink,

	bgImgOther01 : url(#{$imgPath}),
	bgImgOther02: url(#{$imgPath}),
	bgAlphaOther01 : $alphaImg-black
);


//--------------------------------
// 2.import files
//--------------------------------
@import "compass/css3/";
@import "compass/utilities";
@import "hisho/setting";
@import "hisho/helper/mixin";
@import "hisho/helper/function";

//webfont
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);


//--------------------------------
// 3.base style setting
// もろもろstyle設定
//--------------------------------

//reset
@import "hisho/reset";

//common style
body{
	font-size: map-get($styleSetting, fontSize);
	font-family: #{map-get($styleSetting, fontFamily)};
	line-height: map-get($styleSetting, lineHeight);
	color: map-get($styleSetting, fontColor01);
	//
	&.OsWin{
		font-family: #{map-get($styleSetting, fontFamilyWin)};
	}
	&.OsMac{
		font-family: #{map-get($styleSetting, fontFamilyMac)};
	}
}

a{
	@include link-styles($styleSetting);
}


//--------------------------------
// 4.sprite image setting
// sprite-mapの生成
//--------------------------------
$sprite-all: sprite-map("spAll/*.png",$layout: smart);
@import "spAll/*.png";
@include all-spAll-sprites(hoge);

//--------------------------------
// 5.Select Layout
// 使用するlayoutを選択しimport
//--------------------------------
@import "hisho/layout/col1/default";
@include layout-col1-default((
	widthMain01 : 600px
));


//--------------------------------
// 6.Select Header
// 使用するheaderを選択しimport
//--------------------------------

//--------------------------------
// 7.Select Footer
// 使用するfooterを選択しimport
//--------------------------------

//--------------------------------
// 8.Module Setting
// 使用する各種パーツ(module)をimport
//--------------------------------
@import "hisho/module/utilities";


@import "hisho/module/PtTitle01";
@include PtTitle01();

@import "hisho/module/PtTitleSimple01";
@include PtTitleSimple01((
	family: "'Share Tech Mono', sans-serif"
));

@import "hisho/module/PtTxt01";
@include PtTxt01();

@import "hisho/module/PtList01";
@include PtList01();

@import "hisho/module/PtNumList01";
@include PtNumList01();

@import "hisho/module/PtDefList01";
@include PtDefList01();

@import "hisho/module/PtTbl01";
@include PtTbl01();

@import "hisho/module/PtListTbl01";
@include PtListTbl01();

@import "hisho/module/PtCode01";
@include PtCode01();

@import "hisho/module/PtAdTxt01";
@include PtAdTxt01();

@import "hisho/module/PtAdImg01";
@include PtAdImg01();


@import "hisho/module/PtMore01";
@include PtMore01();

@import "hisho/module/PtMoreBtn01";
@include PtMoreBtn01();

@import "hisho/module/PtTopPrev01";
@include PtTopPrev01();

@import "hisho/module/PtTopPrevBtn01";
@include PtTopPrevBtn01();

@import "hisho/module/PtLine01";
@include PtLine01();

@import "hisho/module/PtSprt01";
@include PtSprt01();

@import "hisho/module/BxQuote01";
@include BxQuote01();

@import "hisho/module/BxListY01";
@include BxListY01();

@import "hisho/module/BxListX01";
@include BxListX01();

@import "hisho/module/BxCntent01";
@include BxCntent01();

//--------------------------------
// 9.overlide
//--------------------------------







