@charset "utf-8";
// ------------------------------
// [name] link-styles v1.0.0
// [path] /hisho/helper/_link-styles.scss
// [desc] linkのcolorとunderlineを指定
// [exsample]
//
//   @include link-styles($map);
//
//   @include link-styles(
//     linkColor : #333,
//     linkUnderline : false
//   );
// ------------------------------

//private mixin
@mixin link-styles-view($color:null, $underline:null){
	@if $color {
		color:$color;
	}
	@if $underline {
		text-decoration: underline;
	} @else {
		text-decoration: none;
	}
}

//publick mixin
@mixin link-styles($options){

	//-----------------
	// options
	//-----------------
	$_options: map-extend((
		linkColor        : null,
		linkColorVisited : null,
		linkColorHover   : null,
		linkColorActive  : null,
		linkColorFocus   : null,
		linkUnderline    : false,
		linkUnderlineVisited : false,
		linkUnderlineHover   : false,
		linkUnderActive      : false,
		linkUnderFocus       : false
	), $options);

	//-----------------
	// view
	//-----------------

	@include link-styles-view(
		$color: map-get($_options, linkColor),
		$underline: map-get($_options, linkUnderline)
	);


	&:link{
		@include link-styles-view(
			$color: map-get($_options, linkColor),
			$underline: map-get($_options, linkUnderline)
		);
	}

	&:visited{
		@include link-styles-view(
			$color: map-get($_options, linkColorVisited),
			$underline: map-get($_options, linkUnderlineVisited)
		);
	}

	&:hover{
		@include link-styles-view(
			$color: map-get($_options, linkColorHover),
			$underline: map-get($_options, linkUnderlineHover)
		);
	}

	&:active{
		@include link-styles-view(
			$color: map-get($_options, linkColorActive),
			$underline: map-get($_options, linkUnderActive)
		);
	}

	&:focus{
		@include link-styles-view(
			$color: map-get($_options, linkColorFocus),
			$underline: map-get($_options, linkUnderFocus)
		);
	}

}
