@charset "utf-8";

// ------------------------------
// [name] setting-alphaImg
// [path] /hisho/setting/alphaImg.scss
// [desc] alphaImgの設定 透過70%
// ------------------------------

$alphaImg-black : #{$imgPath}"/alpha/black.png";
$alphaImg-white : #{$imgPath}"/alpha/white.png";
$alphaImg-gray  : #{$imgPath}"/alpha/gray.png";
$alphaImg-brown : #{$imgPath}"/alpha/brown.png";
$alphaImg-red   : #{$imgPath}"/alpha/red.png";
$alphaImg-blue  : #{$imgPath}"/alpha/blue.png";
$alphaImg-green : #{$imgPath}"/alpha/green.png";
$alphaImg-yealow: #{$imgPath}"/alpha/yealow.png";
$alphaImg-pink  : #{$imgPath}"/alpha/pink.png";
$alphaImg-purple: #{$imgPath}"/alpha/purple.png";


