<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml mixi: http://mixi-platform.com/ns#">
<head>
	<meta charset="UTF-8">
	<title>layout-col2-mainLeft</title>
	<link href="../../css/sample/layout_col1_default.css" type="text/css" rel="stylesheet">
</head>
<body class="LyBody01">
<!--{* SCRIPT *}-->
<!--{* /SCRIPT *}-->
<a id="AnchroPageTop"></a>
<div class="LyWrap01"><div class="LyWrap02">


	<header class="LyHead01" role="banner">
	
	<!--{* /LyHead01 *}--></header>

	<div class="LyTop01">
	
	<!--{* /LyTop01 *}--></div>

	<div class="LyCnt01">
		
		<div class="LyMain01" role="main">
		
		<!--{* /LyMain01 *}--></div>

	
	<!--{* /LyCnt01 *}--></div>

	<div class="LyBottom01">
	
	<!--{* /LyBottom01 *}--></div>
	
	<footer class="LyFoot01" role="contentinfo">
	
	<!--{* /LyFoot01 *}--></footer>
	
	

</div></div>
<!--{* SCRIPT *}-->
<!--{* /SCRIPT *}-->
</body>




