@charset "utf-8";

// ===============================================
//
// Hisho alpha var0.1.1
//
// update:2013/12/04
//
// 1.include files
// 2.page setting
// 3.base style setting
// 4.sprite image setting
// 5.Select Layout
// 6.Select Header
// 7.Select Footer
// 8.Module Setting
// 9.overlide
// ===============================================

//--------------------------------
// 1.include files
//--------------------------------
@import "compass/css3/";
@import "compass/utilities";
@import "hisho/helper/reset";
@import "hisho/helper/sprite-core";
@import "hisho/helper/sprite-background";
@import "hisho/helper/link-styles";


//--------------------------------
// 2.page setting
//--------------------------------

// Compass browser support
$legacy-support-for-ie6 : true;
$legacy-support-for-ie7 : true;
$experimental-support-for-webkit : true;
$experimental-support-for-mozilla : true;
$experimental-support-for-opera : true;
$experimental-support-for-microsoft : true;
$experimental-support-for-khtml : false;
$experimental-support-for-svg: true;

//imgPass
$imgPass : "../img";

//style setting
$styleSetting: (
	fontSize         : 12px,
	lineHeight       : 1.5,
	fontFamily       : 'Lucida Grande','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif,
	fontFamilyWin    : 'メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif,
	fontFamilyMac    : 'Lucida Grande','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',sans-serif,

	fontColorDefault : #333,
	fontColorDark    : #333,
	fontColorBright  : #333,
	fontColorStrong  : #c00,

	linkColor            : #333,
	linkColorVisited     : #333,
	linkColorHover       : #333,
	linkColorActive      : #333,
	linkColorFocus       : #333,
	linkUnderline        : false,
	linkUnderlineVisited : false,
	linkUnderlineHover   : true,
	linkUnderActive      : true,
	linkUnderFocus       : true,

	bgColor01      : #333,
	bgColor01Sub1  : #333,
	bgColor01Sub2  : #333,
	bgColor02      : #333,
	bgColor02Sub1  : #333,
	bgColor02Sub2  : #333,
	bgColor03      : #333,
	bgColor03Sub1  : #333,
	bgColor03Sub2  : #333,
	bgImg01   : url(#{$imgPath}),
	bgImg02   : url(#{$imgPath}),
	bgImg03   : url(#{$imgPath}),
	bgImg04   : url(#{$imgPath}),
	bgImg05   : url(#{$imgPath}),
	bgAlpha01 : url(#{$imgPath}),
	bgAlpha02 : url(#{$imgPath}),
	bgAlpha03 : url(#{$imgPath}),
	bgAlpha04 : url(#{$imgPath}),
	bgAlpha05 : url(#{$imgPath}),

	moduleBottomMargin : 20px
);

//--------------------------------
// 3.base style setting
// もろもろstyle設定
//--------------------------------
body{
	font-size: map-get($styleSetting, fontSize);
	font-family: map-get($styleSetting, fontFamily);
	line-height: map-get($styleSetting, lineHeight);
	color: map-get($styleSetting, fontColorDefault);
}
.OsWin{
	font-family: map-get($styleSetting, fontFamilyWin);
}
.OsMac{
	font-family: map-get($styleSetting, fontFamilyMac);
}

a{
	@include link-styles($styleSetting);
}

img{
	vertical-align: text-bottom;
}


//--------------------------------
// 4.sprite image setting
// sprite-mapの生成
//--------------------------------
$sprite-all:sprite-map("spAll/*.png",$layout: smart);
@include all-spAll-sprites(hoge);


//--------------------------------
// 5.Select Layout
// 使用するlayoutを選択しimport
//--------------------------------

//--------------------------------
// 6.Select Header
// 使用するheaderを選択しimport
//--------------------------------

//--------------------------------
// 7.Select Footer
// 使用するfooterを選択しimport
//--------------------------------

//--------------------------------
// 8.Module Setting
// 使用する各種パーツ(module)をimport
//--------------------------------
@import "hisho/helper/util";


//--------------------------------
// 9.overlide
//--------------------------------







