@charset "utf-8";

// ------------------------------
// [name] reset v1.0.0
// [path] /hisho/helper/_reset.scss
// [desc] reset CSS
// ------------------------------

body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,th,td,div,blockquote,pre,form,fieldset,input,textarea{
	margin:0;
	padding:0;
}
html{
	overflow-y:scroll;
}
body{
	*position:relative;
	font-size: 62.5%;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
ol,ul{
	list-style:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
img,fieldset,table,th,td{
	border:none;
}
input{
	*margin:-1px 0;
}
input,textarea{
	font-size:1.0em;
}
em,cite{
	font-style:normal;
}
small{
	font-size:100%;
}
img{
	vertical-align: text-bottom;
}
a img{
	vertical-align:top;
}
:focus{
	outline:none;
}
input,button,textarea{
	border:0;
}
input[type="text"],textarea{
	-webkit-appearance:none;
}
textarea{
	overflow-x:hidden;
	overflow-y:auto;
	font-family:arial,sans-serif;
}
img{
	-ms-interpolation-mode: bicubic;
}
hr{
	display:none;
}

//windows textarea
body.OsWin textarea{
	font-family: map-get($styleSetting, fontFamilyWin);
}

//ie7
h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,table,th,td,div,blockquote,pre,form,fieldset,legend{
	*zoom:1;
}

//html5
article, aside, canvas, details, figcaption, figure, header,footer, hgroup, menu, nav, section, summary {
	display: block;
}

