@charset "utf-8";
// ------------------------------
// [name] map-gets v1.0.0
// [path] /hisho/helper/function/_map-gets
// [desc] mapのマージ処理
// [exsample]
//   map-gets("$setting.hoge.value");
// ------------------------------
@function map-gets($selecter){
	$_result:  null;
	$_num: str_scan($selecter, ".");
	$var: #{str_split($selecter, ".", 0)};

}
